body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.header-logo {
    font-size: 80px;
    line-height: 94px;
    margin-bottom: 40px;
    margin-top: 63px;
}

.header-logo a {
    text-decoration: none;
    color: #000000;
}

.header-list li:hover {
    background: #222F3A;
}

.header-logo span {
    color: #4BCAFF;
}

li {
    cursor: pointer;
}

li a {
    text-decoration: none;
    color: #485863;
}

.header-list {
    display: flex;
    justify-content: center;
    background: #35444F;

}

.header-item {
    padding: 24px 38px 18px;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    text-decoration: none;
}

.header-last-item {
    border-right: 1px solid #FFFFFF;
}


.header-list a {
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

main {
    display: flex;
    max-width: 1280px;
    margin: 0 auto;

}

.Ramda-left-menu {
    margin-right: 53px;
    height: max-content;
}

.Ramda-left-menu ul {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: 344px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    margin-top: 49px;

}

.Ramda-left-menu li {
    font-size: 27px;
    line-height: 27px;
    padding: 25px 0 25px 44px;
    color: #495863;
}

.Ramda-left-menu li:hover {
    background: #DBDBDB;
    color: #35444F;
    padding-left: 60px;
}


.wrapper {
    display: flex;
    flex-direction: column;
}

.main-image-fon {
    margin: 49px 0 37px 0;
    height: 529px;
    border: 1px solid #000000;

}

.main-image {
    width: 320px;
    margin: auto;
    padding-top: 75px;
}

.paragraph {
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    font-weight: 400;
    margin-bottom: 54px;
}

.paragraph-first {
    margin-bottom: 34px;
}

.footer-wrapper {
    display: flex;
    justify-content: space-around;
    width: 1280px;
    align-items: center;
    background: rgba(99, 105, 110, 0.48);
    margin-bottom: 30px;

}

.footer-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 20px 0 21px 40px;
    font-size: 28px;
    line-height: 28px;
    color: #010101;
    box-sizing: border-box;
    width: 875px;
}

.footer-navigation a {
    color: #010101;
}

.footer-navigation a:hover {
    color: #3181A6;
    text-decoration: underline;
}

.copyright {
    font-size: 24px;
    line-height: 24px;
    cursor: default;
    margin-left: 135px;
    margin-right: 40px;
}